.idea
backups/**
skins/**
cloaks/**
scripts/Config/**
scripts/Cache/**
downloads
engine
fonts
icons
img
language
uploads
admin.php
cron.php
robots.txt
test.php
!skins/default_char.png
!cloaks/default_char.png